<template>
	<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M12.9031 22C18.4145 22 22.8825 17.5228 22.8825 12C22.8825 6.47715 18.4145 2 12.9031 2C7.39163 2 2.92371 6.47715 2.92371 12C2.92371 17.5228 7.39163 22 12.9031 22Z" stroke="#AAAAAA" stroke-width="2"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M13.0794 13.1177C14.1834 12.2979 14.899 10.9827 14.899 9.5C14.899 7.01472 12.8884 5 10.4082 5C7.92809 5 5.91752 7.01472 5.91752 9.5C5.91752 11.04 6.68954 12.3994 7.86692 13.2106C6.11126 14.2475 4.91959 16.2686 4.91959 18.5919C4.91959 18.729 4.92374 18.8651 4.9319 18.9999H6.94636C7.13454 16.4733 8.73335 14.5 10.6778 14.5C12.6223 14.5 14.2211 16.4733 14.4093 18.9999H16.1781C16.1863 18.8651 16.1904 18.729 16.1904 18.5919C16.1904 16.1971 14.9243 14.1234 13.0794 13.1177ZM12.9278 9.5C12.9278 10.8807 11.8085 12 10.4278 12C9.04712 12 7.92783 10.8807 7.92783 9.5C7.92783 8.11929 9.04712 7 10.4278 7C11.8085 7 12.9278 8.11929 12.9278 9.5Z" fill="#AAAAAA"/>
		<mask id="path-3-outside-1_304_391" maskUnits="userSpaceOnUse" x="13.3823" y="6.5" width="9" height="11" fill="black">
			<rect fill="white" x="13.3823" y="6.5" width="9" height="11"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M20.2183 13.2984C21.0085 12.7127 21.5206 11.7733 21.5206 10.7143C21.5206 8.93908 20.0816 7.5 18.3064 7.5C16.5312 7.5 15.0921 8.93908 15.0921 10.7143C15.0921 11.8143 15.6447 12.7853 16.4874 13.3647C15.2837 14.0742 14.4504 15.4286 14.3823 17H15.884C16.1719 15.4415 17.2272 14.2857 18.4849 14.2857C19.6298 14.2857 20.607 15.2434 20.9902 16.5908L21.7975 14.8317C21.4077 14.1804 20.8622 13.6487 20.2183 13.2984ZM20.0921 10.7143C20.0921 11.7005 19.2926 12.5 18.3064 12.5C17.3201 12.5 16.5206 11.7005 16.5206 10.7143C16.5206 9.72806 17.3201 8.92857 18.3064 8.92857C19.2926 8.92857 20.0921 9.72806 20.0921 10.7143Z"/>
		</mask>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M20.2183 13.2984C21.0085 12.7127 21.5206 11.7733 21.5206 10.7143C21.5206 8.93908 20.0816 7.5 18.3064 7.5C16.5312 7.5 15.0921 8.93908 15.0921 10.7143C15.0921 11.8143 15.6447 12.7853 16.4874 13.3647C15.2837 14.0742 14.4504 15.4286 14.3823 17H15.884C16.1719 15.4415 17.2272 14.2857 18.4849 14.2857C19.6298 14.2857 20.607 15.2434 20.9902 16.5908L21.7975 14.8317C21.4077 14.1804 20.8622 13.6487 20.2183 13.2984ZM20.0921 10.7143C20.0921 11.7005 19.2926 12.5 18.3064 12.5C17.3201 12.5 16.5206 11.7005 16.5206 10.7143C16.5206 9.72806 17.3201 8.92857 18.3064 8.92857C19.2926 8.92857 20.0921 9.72806 20.0921 10.7143Z" fill="#AAAAAA"/>
		<path d="M20.2183 13.2984L20.0694 13.0975L19.7547 13.3308L20.0988 13.518L20.2183 13.2984ZM16.4874 13.3647L16.6143 13.5801L16.9522 13.3809L16.629 13.1587L16.4874 13.3647ZM14.3823 17L14.1325 16.9892L14.1212 17.25H14.3823V17ZM15.884 17V17.25H16.092L16.1298 17.0454L15.884 17ZM20.9902 16.5908L20.7498 16.6592L20.9351 17.3105L21.2175 16.6951L20.9902 16.5908ZM21.7975 14.8317L22.0247 14.936L22.0797 14.8163L22.012 14.7033L21.7975 14.8317ZM21.2706 10.7143C21.2706 11.6908 20.7987 12.557 20.0694 13.0975L20.3671 13.4992C21.2182 12.8685 21.7706 11.8559 21.7706 10.7143H21.2706ZM18.3064 7.75C19.9435 7.75 21.2706 9.07715 21.2706 10.7143H21.7706C21.7706 8.80101 20.2196 7.25 18.3064 7.25V7.75ZM15.3421 10.7143C15.3421 9.07715 16.6692 7.75 18.3064 7.75V7.25C16.3931 7.25 14.8421 8.80101 14.8421 10.7143H15.3421ZM16.629 13.1587C15.8512 12.6239 15.3421 11.7285 15.3421 10.7143H14.8421C14.8421 11.9001 15.4381 12.9466 16.3457 13.5707L16.629 13.1587ZM14.6321 17.0108C14.6966 15.5207 15.4863 14.2449 16.6143 13.5801L16.3604 13.1493C15.081 13.9034 14.2041 15.3365 14.1325 16.9892L14.6321 17.0108ZM15.884 16.75H14.3823V17.25H15.884V16.75ZM18.4849 14.0357C17.0586 14.0357 15.9379 15.3322 15.6382 16.9546L16.1298 17.0454C16.406 15.5509 17.3958 14.5357 18.4849 14.5357V14.0357ZM21.2307 16.5224C20.8298 15.1131 19.7827 14.0357 18.4849 14.0357V14.5357C19.477 14.5357 20.3841 15.3738 20.7498 16.6592L21.2307 16.5224ZM21.2175 16.6951L22.0247 14.936L21.5703 14.7274L20.763 16.4866L21.2175 16.6951ZM20.0988 13.518C20.7016 13.8459 21.215 14.3453 21.583 14.9601L22.012 14.7033C21.6003 14.0156 21.0229 13.4515 20.3377 13.0787L20.0988 13.518ZM18.3064 12.75C19.4306 12.75 20.3421 11.8386 20.3421 10.7143H19.8421C19.8421 11.5624 19.1545 12.25 18.3064 12.25V12.75ZM16.2706 10.7143C16.2706 11.8386 17.1821 12.75 18.3064 12.75V12.25C17.4582 12.25 16.7706 11.5624 16.7706 10.7143H16.2706ZM18.3064 8.67857C17.1821 8.67857 16.2706 9.58999 16.2706 10.7143H16.7706C16.7706 9.86613 17.4582 9.17857 18.3064 9.17857V8.67857ZM20.3421 10.7143C20.3421 9.58999 19.4306 8.67857 18.3064 8.67857V9.17857C19.1545 9.17857 19.8421 9.86613 19.8421 10.7143H20.3421Z" fill="#AAAAAA" mask="url(#path-3-outside-1_304_391)"/>
	</svg>
</template>

<script>
import Vue from 'vue';

export default Vue.extend( {
	name: 'EditIcon',
} );
</script>
