<template>
	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#AAAAAA" stroke-width="2"/>
		<path d="M8.17021 13.8598L14.3227 7.7068C14.5658 7.4742 14.8903 7.34601 15.2267 7.34969C15.5631 7.35336 15.8847 7.48861 16.1226 7.72647C16.3606 7.96433 16.4959 8.2859 16.4997 8.62231C16.5034 8.95872 16.3753 9.28323 16.1428 9.52637L9.98927 15.6794C9.84889 15.8198 9.6701 15.9155 9.47543 15.9544L7.5 16.3496L7.89519 14.3737C7.93413 14.179 8.02982 14.0002 8.17021 13.8598V13.8598Z" stroke="#AAAAAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
		<path d="M13.282 9.05859L14.7903 10.5669" stroke="#AAAAAA" stroke-width="2"/>
	</svg>
</template>

<script>
import Vue from 'vue';

export default Vue.extend( {
	name: 'EditIcon',
} );
</script>
