<template>
	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#FFB800" stroke-width="2"/>
		<path d="M15.5 12L7 12" stroke="#FFB800" stroke-width="3" stroke-linecap="round"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M13.8637 7.09677C13.3647 6.61973 12.5735 6.63754 12.0964 7.13655C11.6194 7.63557 11.6372 8.42682 12.1362 8.90387L15.3344 11.9613L12.1249 15.1077C11.6319 15.591 11.6241 16.3824 12.1073 16.8754C12.5906 17.3684 13.382 17.3762 13.875 16.8929L18.0017 12.8475L18.0066 12.8426C18.0115 12.8379 18.0162 12.8331 18.021 12.8283C18.1213 12.7268 18.2008 12.6122 18.2593 12.49C18.4228 12.1487 18.4219 11.7495 18.2591 11.4096C18.1984 11.283 18.1153 11.1647 18.0099 11.0606C18.0051 11.0559 18.0002 11.0512 17.9953 11.0465L17.9909 11.0423L13.8637 7.09677Z" fill="#FFB800"/>
	</svg>
</template>

<script>
import Vue from 'vue';

export default Vue.extend( {
	name: 'WarningIcon',
} );
</script>
