<template>
	<div class="wikimedia-logo">
		<svg class="wikimedia-logo-image" viewBox="0 0 1201 171" xmlns="http://www.w3.org/2000/svg">
			<g>
				<g class="wikimedia-logo-graphic">
					<path d="M91.871,137.53C117.118,133.955 136.537,112.217 136.537,85.93C136.537,69.961 129.369,55.668 118.08,46.11L91.871,72.377L91.871,137.53ZM77.189,137.53L77.189,72.378L50.98,46.109C39.694,55.669 32.523,69.961 32.523,85.929C32.523,112.217 51.945,133.955 77.189,137.53"/>
					<path d="M129.727,40.636C141.799,52.733 148.447,68.822 148.447,85.932C148.447,103.04 141.799,119.126 129.727,131.222C117.654,143.324 101.602,149.983 84.532,149.983C67.458,149.983 51.407,143.324 39.334,131.223C27.262,119.126 20.614,103.04 20.614,85.933C20.614,68.822 27.262,52.733 39.334,40.636C40.366,39.603 41.432,38.606 42.532,37.646L27.93,23.009C26.847,23.988 25.79,24.996 24.76,26.03C17,33.807 10.906,42.863 6.648,52.95C2.236,63.403 0.001,74.497 0.001,85.931C0.001,97.363 2.236,108.454 6.648,118.908C10.888,128.968 17.039,138.111 24.76,145.83C32.456,153.562 41.58,159.727 51.626,163.982C62.052,168.4 73.125,170.643 84.532,170.643C95.939,170.643 107.009,168.4 117.437,163.982C127.483,159.728 136.608,153.563 144.304,145.83C152.023,138.11 158.173,128.967 162.413,118.908C166.824,108.454 169.06,97.363 169.06,85.931C169.06,74.497 166.824,63.403 162.413,52.948C158.155,42.862 152.061,33.806 144.303,26.029C143.271,24.996 142.214,23.989 141.133,23.009L126.53,37.645C127.63,38.605 128.696,39.602 129.728,40.635"/>
					<path d="M84.53,0.75C99.08,0.75 110.876,12.57 110.876,27.15C110.876,41.734 99.08,53.552 84.53,53.552C69.98,53.552 58.184,41.734 58.184,27.15C58.184,12.571 69.98,0.75 84.53,0.75"/>
				</g>
				<g class="wikimedia-logo-text">
					<path d="M287.928,99.893L308.364,33.502L335.227,33.502L355.5,99.893L378.408,33.502L406.26,33.502L366.047,148.952L346.93,148.952L321.714,68.682L296.664,148.952L277.546,148.952L237.333,33.502L265.185,33.502L287.928,99.893ZM419.941,148.95L445.651,148.95L445.651,33.5L419.941,33.5L419.941,148.95ZM473.995,33.495L499.705,33.495L499.705,80.898L543.215,33.495L575.027,33.495L529.206,84.532C533.161,90.039 540.469,100.307 551.126,115.337C559.072,126.555 567.038,137.759 575.026,148.947L545.027,148.947L511.242,103.365L499.705,116.243L499.705,148.946L473.995,148.946L473.995,33.495ZM591.01,148.95L616.72,148.95L616.72,33.5L591.01,33.5L591.01,148.95ZM748.236,76.275L717.087,139.368L701.76,139.368L670.776,76.275L670.776,148.948L645.066,148.948L645.066,33.498L679.841,33.498L709.506,96.921L739.336,33.497L773.946,33.497L773.946,148.948L748.236,148.948L748.236,76.275ZM885.358,33.495L885.358,56.453L828.005,56.453L828.005,80.237L879.59,80.237L879.59,102.209L828.005,102.209L828.005,126.153L887.171,126.153L887.171,148.946L802.295,148.946L802.295,33.496L885.358,33.495ZM979.216,117.24C985.531,111.288 988.695,102.643 988.695,91.308C988.695,79.968 985.531,71.238 979.216,65.127C972.897,59.016 963.206,55.963 950.126,55.963L935.787,55.963L935.787,126.158L952.103,126.158C963.861,126.158 972.897,123.185 979.216,117.239M998.09,48.61C1009.08,58.686 1014.57,72.701 1014.57,90.643C1014.57,108.599 1009.21,122.798 998.5,133.26C987.787,143.717 971.448,148.95 949.467,148.95L910.078,148.95L910.078,33.5L950.786,33.5C971.33,33.5 987.1,38.53 998.09,48.61M1036.81,148.95L1062.52,148.95L1062.52,33.5L1036.81,33.5L1036.81,148.95ZM1138.18,67.85L1123.67,101.38L1152.52,101.38L1138.18,67.85ZM1172.95,148.952L1162.23,124.007L1113.95,124.007L1103.23,148.952L1075.88,148.952L1125.65,33.496L1150.54,33.496L1200.3,148.952L1172.95,148.952Z"/>
				</g>
			</g>
		</svg>
	</div>
</template>

<script type="ts">
import Vue from 'vue';

export default Vue.extend( {
	name: 'Logo',
} );

</script>

<style lang="scss">
	@import "../../scss/variables";
	@import "~bulma/sass/utilities/mixins";
	.wikimedia-logo {
		height: 100%;
		overflow: hidden;
		padding-top: 14px;
		padding-left: 0.75rem;

		@include until($tablet) {
			padding-left: 0;
			width: 38px;
		}

		&-image {
			width: 144px;
			height: 29px;
			fill-rule: evenodd;
			clip-rule: evenodd;
			stroke-linejoin: round;
			stroke-miterlimit: 2;

			@include until($tablet) {
				width: 220px;
			}
		}

		&-text {
			@include until($tablet) {
				display: none;
			}
		}
	}
</style>
