// This class imports all fonts, variables and overrides
// and adds custom classes on top of that
@import "variables";
@import "fonts";

// Import Bulma's utility mixins
@import "~bulma/sass/utilities/_all";

.is-two-thirds.column {
	@include from($tablet) {
		padding: $column-gap * 2;
	}
}

.is-form-input-width {
	width: $fun-min-width !important;
	@include from($tablet) {
		width: $fun-max-width !important;
	}
}

.is-nowrap-whitespace {
	white-space: nowrap !important;
}

.is-form-input {
	.has-border-rounded {
		background-color: $fun-color-bright;
		border: 1px solid $fun-color-gray-mid;
		border-radius: 2px;
	}

	.select {
		select {
			border-radius: 0;
			width: $fun-min-width;
			@include from($tablet) {
				width: $fun-max-width;
			}
			font-size: 1rem;
			line-height: 40px;
			height: 48px;
		}
		// Buefy has different types of dropdowns with selectors like these
		// This modifies a "normal" selection dropdown list to accommodate for the custom size we apply
		&:not(.is-multiple):not(.is-loading)::after {
			top: 24px;
		}
	}
}

.name-section {
	margin-top: 18px;
}

.list-menu {
	width: 100%;
	li {
		height: 54px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			border-bottom: 1px solid $fun-color-dark-lighter;
		}
		a {
			color: $fun-color-dark-lighter;
			display: block;
			position: relative;
			top:50%;
			transform: translateY(-50%);

			&:hover, &:focus {
				color: $fun-color-dark;
			}
		}
	}
}

.form-caption {
	line-height: 130%;
	max-width: 415px;
}

.is-inline-checkbox {
	position: relative;
	top: 3px;
}

.option-checkbox {
	margin-top: $column-gap * 2;
}

.has-outside-border {
	margin: -10px; /* half of column gap +1 pixel for border */
	padding: 8px; /* add back column gap -1 pixel border */
	@include from($tablet) {
		margin:  1 - $column-gap;
		padding: $column-gap - 1;
	}
	border: solid 2px $fun-color-gray-light-solid;
}

.accordion {
	&-item {
		border: 1px solid $fun-color-bright;
		padding-top: 1rem;
		box-sizing: content-box;
	}
	&-title {
		border-bottom: 2px solid $fun-color-gray-light-transparency;
		cursor: pointer;
		margin-bottom: 6px;
	}
	&-title {
		cursor: pointer;
	}
	&-content {
		margin-bottom: 36px;
	}
}

.content .faq-item {
	list-style-type: none;
	margin: 0;
}

.icon-inline {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
}

.icon-title {
	padding-left: 2.5rem;
	svg {
		float: left;
		margin-left: -2.5rem;
	}
}

h1.icon-title svg {
	margin-top: 2px;
}

// No such feature in Bulma as of August 2019, if you see this comment, check if Bulma has adedd this natively
.is-hidden-print {
	@media print {
		display: none !important;
	}
}

.payment-summary-banner {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: center;
	button.is-primary {
		border: none;
		max-width: 200px;
		&.is-outlined:hover {
			background-color: $fun-color-bright;
			border: none;
			color: inherit;
		}
	}
}

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~bulma-helpers/sass/helpers/spacing/margin-padding";

.summary-wrapper {
	@include until($widescreen) {
		button.is-main {
			width: 100%;
			margin: 0 0 5px;
		}
	}
}

.summary-notice {
	color: $fun-color-dark-lighter;
}

.has-negative-margin-bottom-18 {
	margin-bottom: -18px !important;
}

// Special styles for pages and shared components
// These styles can't be put in the components until we figure out a way to use "@include from()" inside the components
// without including this whole file

// Headline
.intro-content {
	.is-two-thirds.column {
		margin: 18px 0;
		@include from($tablet) {
			margin: 0px -28px;
		}
	}

	.is-full.column {
		margin: 18px 0;
		@include from($tablet) {
			margin: 18px 0;
		}
	}
}

// AmountSelection
.amount {
	&-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: $fun-min-width;
		@include from($tablet) {
			width: $fun-max-width;
		}
	}
	&-selector {
		position: relative;
		display: flex;
		margin-bottom: 12px;
		label {
			align-items: center;
			color: $fun-color-primary;
			cursor: pointer;
			display: flex;
			justify-content: center;
			height: 55px;
			width: 60px;
			@include from($tablet) {
				width: 75px;
			}
			&:active {
				background-color: $fun-color-primary-lightest;
			}
		}
		input[type="radio"]:checked + label {
			color: $fun-color-bright;
			font-weight: bold;
			background-color: $fun-color-primary;
		}
		&.inactive label {
			color: $fun-color-gray-mid;
			cursor: default;
		}
	}
	&-custom {
		width: 100%;
		&-wrapper {
			position: relative;
			width: 100%;
		}
		&:after {
			color: $fun-color-dark-lighter;
			content: "€";
			font-size: 1.1em;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

// Supporters
.icon-aligned {
	width:20px;
	display: inline-block;
}

.supporters {
	hyphens: auto;
	width: 85vw;
	@include from($tablet) {
		width: auto;
	}
}


// END special rules for pages

// trigger animation events on autofill
@keyframes onAutoFillStart {  from {
	background-color: initial;
}  to {
	background-color: #faffbd; /* iOS autofill indication color */
}}
.autofill-handler {
	input[id]:-webkit-autofill {
		animation: onAutoFillStart 0.5s;
	}
}

#bank-name-info {
	margin-top: 0.25rem;
	min-height: 25px;

	.help {
		margin-top: 0;
	}
}

.donation-summary-intro {
	margin-bottom: 18px;
}

.trust-message {
	box-sizing: border-box;
	margin-top: 32px;
	margin-bottom: 12px;
	font-size: 14px;
	line-height: 16px;
	min-height: 28px;
	padding: 6px 0;

	img {
		float: left;
		height: 28px;
		width: 26px;
		margin-right: 3px;
		margin-top: -6px;
	}
}

.submit-values {
	visibility: hidden;
}

.payment-buttons {
	margin-top: 0;
	.column {
		padding-top: 0;
	}
}

#address-type-selection{
	.info-message {
		line-height: 1.25;
	}
}

.donation-confirmation-card,
.membership-benefits-wrapper {
	padding: 36px 18px;
	@media ( min-width: 400px ) {
		padding: 36px;
	}
}

@import "overrides";
@import "compact_form"; // AB Test Import
@import "components/address_usage_toggle";
@import "components/donation_comment_popup";
@import "locale_overrides/en-GB";
@import "components/feedback_box";
